:root {
    --light: rgb(74, 74, 250);
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 22rem;
    margin-right: 18%;
}

header h1 {
    color: white;
    height: 5rem;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    background-color: var(--light);
}

#search-field {
    margin-left: 1.5%;
    position: fixed;
}

#search-field h1 {
    font-size: 2rem;
}

#city-name {
    width: 18rem;
    height: 3rem;
    font-size: 1.5rem;
}    


#city-button {
    position: relative;
    width: 18rem;
    height: 2rem;
    background-color: var(--light);
    color: white;
    border-radius: .25rem;
    right: 18.3rem;
    top: 3rem;
}

#main-forecast {
    font-size: 1.5rem;
    font-weight: bold;    
}

.weather-icon {
    width: 15%;
    height: 15%;
    background-size: 15% 15%;
}

.forecast {
    font-size: 1.25rem;
}

#four-day {
    margin-left:22rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
#five-day-forecast {
    display: flex;
    flex-direction: row;
    margin-left: 22rem;
    justify-content: space-between;
    margin-right: 18%;
    padding-top: 3rem;
}

.five-day-stats {
    color: white;
    background-color: rgb(42, 67, 91);
    padding-right: 4rem;
}